
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-Font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@font-face {
  font-family: "Miama";
  src: url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.eot");
  src: url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.svg#Miama")format("svg");
}



 .miama-Font{
  font-family: "Miama";
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 }
                

/* share Styles */

body{
    margin: 0;
}

.display-flex{ display: flex;

}





.bg-color-main{

   background-color: black;
} 
   
.alint-center{
  text-align: center;
  max-width: 231px;

}
.bg-color{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);}


.title-color{
   color: rgb(230, 83, 60);
}




  #title-color-2{
           background-color: rgb(230, 83, 60);
           border-radius: 46px;
           padding:   12px    ;

           
  }

/* navbar related styles */

.navbar{
  justify-content: space-between ;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}



.nav-item{
  list-style: none;
  margin-right: 40px;
  
}

.nav-link{
  
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  
}

.brand{
  font-size: 2.28rem;
  font-weight: 800;
  font-style: italic;
}

.nav-links{
  padding: 12px 12px;
   border:  1px	solid
   rgba(255, 255, 255, 0.1);
   border-radius: 39px;

}

.brand-title-container{
   width: 600px;
  height: 440px;



}


/* header Section ralted styles */

.Container-1{
max-width: 1440px;
margin: 0 auto;
justify-content: space-between;
   
}

.brand-title{
      font-size: 4.8rem;
      font-weight: 900;
      margin-top: 20px;
      margin-bottom: 28px;
      color: rgb(255, 255, 255);
      letter-spacing: 0.5px;
      width: 520px;
      height: 281px;
    
}

.brand-description{
  
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  width: 520px;
  height: 48px;
  margin-top: 28px;

}

#Styles {  
   font-size: 95px;
  font-weight: 400;
  letter-spacing: 8;
   
   
}

/* Btn-Primary Realted Code */

.btn-Primary{
  font-size: 1.25rem;
  font-weight: 600;
  background-color: rgb(230, 83, 60);
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  border: none;
  color: aliceblue;
}

.btn-Primary-01{
  font-size: 1.25rem;
  font-weight: 600;
  border: .1px solid white;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  background-color: black;
}


/* blur box realted styles */ 

.Blur-Container-1{

   width: 193px;
   height: 98px;
   text-align: center;
   background:linear-gradient(135deg, rgb(255,255,255,0.1), rgb(255,255,255,0)

   );
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 12px;
   margin-bottom: -125px;
   box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.37) ;
   border: 1px solid rgb(0, 0, 0, 0.18);


}


.Blur-Container-2{
  display: flex;
  
  width: 206px;
  height: 96px;
  

  border-radius: 12px;
  background:linear-gradient(135deg, rgb(255,255,255,0.1), rgb(255,255,255,0)

   );
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border: 1px solid rgb(0, 0, 0, 0.18);
   align-items: center;
  
}

.blur-title-1{
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
  margin-top: 17px;
  margin-bottom: 0px;
  margin-right: 45px;
  margin-right: 23px;
}

.blur-title-Description-1{
   font-size: 0.8rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.65);
   margin: 0px;
   margin-right: 28px;
   margin-left: 23px;

}

#icon{
  width: 40px;
  height: 40px;
  background-color:  rgb(230, 83, 60);
  border: 0px;
  border-radius: 50%;
  margin-left: 23px;


}


.blur-title-2{
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  margin: 0px;
  margin-left: 20px;
  margin-right: 63px;



}

.blur-title-Description-2{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(239, 237, 232, 0.65);
  margin: 0px;
  margin-left: 20px;
  margin-top: 8px;
  




}

/* Main-Sectiion-01 realted Styles */

   .main-01-img-Container{
    max-width: 1044px;
    margin: 0 auto;


   }

   .main-01-title{
           font-size: 3rem;
           font-weight: 900;
           color: white;
           margin-top: 100px;
           margin-bottom: 14px;


   }


   .main-01-description{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);


   }

   .Exxersicer{
     border-radius: 50%;
     
   }

   .main-01-img-Container{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
   }

   .main-01-Text-container{
    text-align: center;


   }


   .main-01-Text-container{
    margin-top: 100px;

    margin-bottom: 56px;
   }

   /* Main-section-1-Imgae realted Styles */

   .image-title{
       font-size: 1.2rem;
       font-weight: 600;
       color: white;
       margin-top: 26px;
       margin-bottom: 6px;


   }

   .image-description{

       font-size: 0.8rem;
       font-weight: 400;
       color: rgba(255, 255, 255, 0.5);


   }


   /* Main-Section-02 Realted Styles */

   .main-Section-02{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;

  width: 1060px;
    max-height: 371px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;



   }

   .imge-02{
    width: 50%;
    height: 50%;
   }

   .Section-title-02{
    width: 443px;
    height: 116px;
     


   }



/* small device realted Styles */

@media screen and (max-width:576px) {
     
  
  
  /*.nav-links, .navbar{
       flex-direction: column;
    } */
    
    
      
    
    .Container-1 {
         flex-direction: column;
         margin-left: 20px;
         max-width: 352px;
    }

    .brand-title{
       font-size: 2.5rem;
    }

    .btn-head {
        display: inline;
    }


    .brand-description {
       font-size: 1rem;
    }

    .nav-links{
         display: none;
    }

    .brand{
        margin-left: 20px;
    }

    .btn-head{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 10px;
       te
    }
}

/* medium device realted styles */

@media  screen and (min-width:576px) and (max-width:992px) {
  
}