
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-Font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@font-face {
  font-family: "Miama";
  src: url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.eot");
  src: url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/8e02ddcea786cc8b50dbca3dc48985ef.svg#Miama")format("svg");
}



 .miama-Font{
  font-family: "Miama";
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 }
                

/* share Styles */


.display-none{
    display:none;
}

body{
    margin: 0;
}

.display-flex{ display: flex;

}





.bg-color-main{

   background-color: none;
} 
   
.alint-center{
  text-align: center;
  max-width: 231px;

}
.bg-color{
  background-color: black;}


.title-color{
   color: rgb(230, 83, 60);
}




  #title-color-2{
           background-color: rgb(230, 83, 60);
           border-radius: 46px;
           padding:   12px    ;

           
  }

/* navbar related styles */

.navbar{
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-left: 125px;
  margin-right: 165px;
  
}



.nav-item{
  list-style: none;
  margin-right: 40px;
  
}

.nav-link{
  
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  
}

.brand{
  font-size: 2.28rem;
  font-weight: 800;
  font-style: italic;
}

.nav-links{
  padding: 12px 12px;
   border:  1px	solid
   rgba(255, 255, 255, 0.1);
   border-radius: 39px;

}

.brand-title-container{
   width: 600px;
  height: 440px;



}


/* header Section ralted styles */

.Container-1{
max-width: 1440px;
margin: 0 auto;
justify-content: space-around;
   
}

.brand-title{
      font-size: 4.8rem;
      font-weight: 900;
      margin-top: 20px;
      margin-bottom: 28px;
      color: rgb(255, 255, 255);
      letter-spacing: 0.5px;
      width: 520px;
      height: 281px;
    
}

.brand-description{
  
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  width: 520px;
  height: 48px;
  margin-top: 28px;

}

#Styles {  
   font-size: 95px;
  font-weight: 400;
  letter-spacing: 8;
   
   
}

/* Btn-Primary Realted Code */

.btn-Primary{
  font-size: 1.25rem;
  font-weight: 600;
  background-color: rgb(230, 83, 60);
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  border: none;
  color: aliceblue;
}

.btn-Primary-01{
  font-size: 1.25rem;
  font-weight: 600;
  border: .1px solid white;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  color: white;
  background-color: black;
}


/* blur box realted styles */ 

.Blur-Container-1{

   width: 193px;
   height: 98px;
   text-align: center;
   background:linear-gradient(135deg, rgb(255,255,255,0.1), rgb(255,255,255,0)

   );
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 12px;
   margin-bottom: -125px;
   box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.37) ;
   border: 1px solid rgb(0, 0, 0, 0.18);
/* Rectangle 13 */
position: absolute;
left: 1192px;
top: 250px;

}


.Blur-Container-2{
  display: flex;
  
  width: 206px;
  height: 96px;
  

  border-radius: 12px;
  background:linear-gradient(135deg, rgb(255,255,255,0.1), rgb(255,255,255,0)

   );
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border: 1px solid rgb(0, 0, 0, 0.18);
   align-items: center;
   /* Rectangle 17 */
position: absolute;

left: 835px;
top: 540px;
  
}

.blur-title-1{
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
  margin-top: 17px;
  margin-bottom: 0px;
  margin-right: 45px;
  margin-right: 23px;
}

.blur-title-Description-1{
   font-size: 0.8rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.65);
   margin: 0px;
   margin-right: 28px;
   margin-left: 23px;

}

#icon{
  width: 40px;
  height: 40px;
  background-color:  rgb(230, 83, 60);
  border: 0px;
  border-radius: 50%;
  margin-left: 23px;


}


.blur-title-2{
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  margin: 0px;
  margin-left: 20px;
  margin-right: 63px;



}

.blur-title-Description-2{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(239, 237, 232, 0.65);
  margin: 0px;
  margin-left: 20px;
  margin-top: 8px;
  




}

/* Main-Sectiion-01 realted Styles */

   .main-01-img-Container{
    max-width: 1044px;
    margin: 0 auto;


   }

   .main-01-title{
           font-size: 3rem;
           font-weight: 900;
           color: white;
           margin-top: 100px;
           margin-bottom: 14px;


   }


   .main-01-description{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);


   }

   .Exxersicer{
     border-radius: 50%;
     
   }

   .main-01-img-Container{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
   }

   .main-01-Text-container{
    text-align: center;


   }


   .main-01-Text-container{
    margin-top: 100px;

    margin-bottom: 56px;
   }

   /* Main-section-1-Imgae realted Styles */

   .image-title{
       font-size: 1.2rem;
       font-weight: 600;
       color: white;
       margin-top: 26px;
       margin-bottom: 6px;


   }

   .image-description{

       font-size: 0.8rem;
       font-weight: 400;
       color: rgba(255, 255, 255, 0.5);


   }


   /* Main-Section-02 Realted Styles */

   .main-Section-02{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;

   max-width:  1060px;
  max-height: 100%; 
    background-color: rgb(34, 34, 34);
    border-radius: 18px;

   }

   .main-Section-02 img{
       object-fit: none;
       object-position: 68% 30%;
       

       border-radius: 30px;
        width: 366px;
     
        height: 312px;
        margin-top: 30px;
        margin-right: 32px; 
        margin: 30px;
        

   }
   .main-02-title{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-top: 41px;
    margin-bottom: 14px;

     
   }

   .main-02-description{
    margin-bottom: 34px;
   }

   .btn-Primary-02{
       width: 224px;
       height: 54px;
   }
   

   
     
   
   
   
     
  
    
    
    
   

   .Section-title-02{
    width: 443px;
    height: 116px;
     margin-left: 54px;
     
     margin-bottom: 40px;


   }

   /* main-Section-04 realted styles */


   
   .Section-04-text-containter{
         
         
        margin-left: 384px;
        margin-right:384px;
        margin-bottom: 78px;
        margin-top: 88px;
        
        
   }
   
   .Section-04-text-containter p{

    font-size:0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
      
   }
  
   .Section-04-text-containter h4{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 14px;
    margin-top: 0px;

      
   }



   .BMI-Calculator-Container{
     width: auto;
     height: 450px;
   }

   table{
      width: 310px;
      height: 216px;
   }
   th{
    text-align: left;
   }

   table, tr, td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);;
     border-collapse: collapse;
   }
   table td, th {
    padding-left: 18px;
   }
   caption{
        font-size: 1.75rem;
        font-weight: 900;
        color: rgb(255, 255, 255);
        margin-top: 52px;
        margin-bottom: 52px;
        
   }
   .from-Container-title{
       width: 500px;
       height: 48px;
       
   }

   .from-Container-title h4{
       font-size: 1.75rem;
       font-weight: 900;
       color: white;
       margin-bottom: 14px;
   }
   .from-Container-title p{
       font-size: .8rem;
       font-weight: 400;
       color: rgba(255, 255, 255, 0.5);
       

   }

   .BMI-Calculator-Container{
     display: flex;
     justify-content: space-around;
     margin: 0 auto;
   }

   .from-Container{
     width: 577px;
     height: 386px;
   }

 form{ 
  margin-top: 60px;
      
       display: flex;
       flex-direction: row;
       gap: 7px;
       align-items: center;
       flex-wrap: wrap;
       
       
       
 }

 .from-Container button{
  width: 224px;
  height: 54px;
   font-size: 1.2rem;
   font-weight: 600;
   color: white;
   border-radius: 42px;
   border: none;
   background: rgb(230, 83, 60);
   padding: 16px 40px 16px 40px;
   margin-top: 34px;
 }

 .ex{
  padding: 12px 40px 12px 20px;
  border-radius: 5px;
  border: none;


  background: rgba(255, 255, 255, 0.1);
 }

 .SR{
   padding: 12px 20px 12px 20px;
   position: static;
   width: 425px;
   height: 16px;
   border-radius: 5px;
   border: none;
   

   background: rgba(255, 255, 255, 0.1);
   
 }
 .main-Section-04 {
 background: rgb(34, 34, 34);
 }

 table  th{
     font-size: 1rem;
     font-weight: 600;
     color: white;
 }
 table td{
     font-size: .8rem;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.5);
 }


 /*main-Section-05 Realted Styles */

 .main-Section-05-image-container{
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
 }
 .main-Section-05{
    margin: 0 auto;
     margin-bottom: 88px;

    max-width: 1060px;
    max-height: 604px; */
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
  }
    

 .main-Section-05 img{
     
 border-radius: 12px;
 width: 326px; ;
  height: 271px; 
  
    
 }

 /* image margin */

 .image-011{

  margin-bottom: 20px;
  margin-top: 15px;


 }
 .image-04{
  
 object-fit: cover;
 object-position: 48% 20%;
 width: 326px; ;
  height: 271px;

 }
  .text-Container-5{
    margin-top: 88px;
    margin-bottom: 58px;
    
     text-align: center;
     
  }
 .text-Container-5 h4{
  margin-top: 2px;
  font-size: 3rem;
  font-weight: 900;
  color: white;
  margin-bottom: 14px;
  
 }
 .text-Container-5 p{
   font-size: 0.8rem;
   font-weight: 400;
   letter-spacing: 0.3px;
   color: rgba(255, 255, 255, 0.5);

 }


 /* Footer Realted Styles */
 
 /* Footer-section-01 Realted Styles */

 .footer-section{
  
  /*max-width: auto;
  max-height: 489px; */
  background-color: rgba(255, 255, 255, 0.1);
 }

 .footer-section-01{
  display: flex;
  justify-content: space-around;
   padding-top: 66px;
   padding-left: 190px;
   padding-right: 191px;
   
  


 }
 .footer-section-01-title-container-1{

  width: 433px;
  height: 176px;
  
 }

 
 .footer-section-01-title-container-1 h1{
  font-size: 4.4rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 0px;


 }

 .footer-section-01-title-container-1 p{
   
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  
 }

 .footer-section-01-title-container-3  li{
   list-style: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);

 }

 .footer-section-01-title-container-2 li{
  text-align: left;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  list-style: none;

  
 }  

 .footer-section-01-title-container-2 ul{
    display:  flex;
    flex-direction: column;
    gap: 20px;}

.footer-section-01-title-container-3 ul{

    display: flex;
    flex-direction: column;
    gap: 20px;
    

}

 .footer-section-01-title-container-2 h3{
  
  margin-top: 0px;
   margin-bottom: 39px;
  font-size: 2rem;
  font-weight: 700;
  color: white;

 }

 .footer-section-01-title-container-3 h3{
  margin-top: 0px;
   margin-bottom: 39px;
  font-size: 2rem;
  font-weight: 700;
  color: white;
 }

 .footer-section-01-title-container-2 {
  
   
  
 } 

 .footer-section-01-title-container-3 {
  

 
} 

.border{
  margin: 0 auto;

 margin-top: 79px;
  width: 1059px;
  height: 0px;
 border: 1.5px solid rgba(255, 255, 255, 0.1);


}

.text{
  font-size: 1.25rem;
  font-weight: 400;
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
   margin-top: 25px;
   padding-bottom: 30px;
   margin-bottom: 0px;
}

 


/* small device realted Styles */

@media screen and (max-width:576px) {
     
  
  
  /*.nav-links, .navbar{
       flex-direction: column;
    } */
    
    
   /* header realted Styles */   
    
    .Container-1, .main-Section-04  {
         flex-direction: column;
         margin-left: 20px;
         
         
    }
    
    

    .Container-1{
      
    
      

      
    }
    .pk{
      width: 353px;
      height: 588px;
      

      
       
    }
    
    .main-01-img-Container{
       display:flex;
       flex-direction: column;
       margin: 0px;
      
    }

    .Blur-Container-1 {
       
    
     position: absolute;
     width: 155px;
     height: 90px;
     left: 220px;
     top: 500px;
    }

    .Blur-Container-2{
      
     position: absolute;
     width: 130px;
     height: 70px;
     left: 50px;
     top: 720px;
    }

    .btn-Primary{
       width: 169px;
       height: 54px;
       font-size: 1.2rem;
       padding: 0;
       
    }
    
    .btn-Primary-01{
      width: 169px;
       height: 54px;
       font-size: 1.2rem;
       padding: 0;
    }
    .btn-head{
      display: flex;
      gap: 20px;
    }

    .main-Section-02{
      
       
      width: 100%;
      height: 100%;

        
    }
      .Section-title-02{
         width: 287px;
         height: 76px;
      }

      .btn-Primary-02{
         width: 287px;
         height: 54px;
        
      }
       .Section-title-02 img{
          width: 100%
          
          
          
       }



    .brand-title{
       font-size: 2.5rem;
       font-weight: 600;
       width: 285px;
       height: 129px;
    }

   .brand-description{
     width: 274px;
     height: 96px;
   }


   .display-none-2{
      display: none;
   }

    .nav-links{
         display: none;
    }

    .brand-title{
       
      margin-bottom: 0px;
    }

    .blur-title-1{
       font-size: 1.7rem;
    }
    .blur-title-Description-1{
       font-size: 0.57rem ;
    }
    .blur-title-2{
        font-size: 1.2rem;
    }

    .blur-title-Description-2{
       
      font-size: 0.7rem;
    }

    /* section-02 */
    .main-Section-02, .main-Section-03, .main-Section-04, 
    .BMI-Calculator-Container, .main-Section-05-image-container,  .Section-04-text-containter {

      display: flex;
      flex-direction: column;

    }

    .from-Container{
      wi
    }
  .imge-02{
    
      
    position: relative;

   width: 287px;
height: 170px;
left: 33px;
top: 326px;
  }

    
  .main-01-title{
    font-size: 2rem;
    width: 318px;
    height: 38px;
    

  }
  .main-01-description{
       font-size: 0.8rem;
       width: 316px;
       height: 72px;
  }

  
    
    .main-Section-04{

      width: auto;
      height: 774px;
      margin: 0px;
    }

    .main-Section-05{
        max-width: 353px;
        max-height: 1188px;
    }
    .main-Section-02{
      

      max-width: 353px;
      height: 600px;
    }


    .Section-04-text-containter{
      margin: 0px;
    } 

    .main-01-img-Container{
        align-items: center;
        width: 338px;
        height: 1216px;
        margin-left: 20px;
        margin-right: 20px;
      
    }
    .main-01-Text-container{
       margin-left: 38px;
       margin-right: 37px;
       align-items: center;
    }
    .navbar{
       margin-left: 20px;
       margin-right: 20px;
       
    }

    .brand-title-container{
    max-width: 352px;
    max-height: 335px;
    
    }
    .main-Section-02{

    /* Frame 27 */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 66px;

width: 353px;
height: 620px

 }
    .main-Section-02 img{


       width: 287px;
      height: 170px;
      object-fit: cover;
      object-position: 70% 30%;
      
position: relative;

left: 0px;
top: 5px;
      


  }

  .Section-title-02{
    margin-left: 30px;

  }
  .Section-04-text-containter{
    width: 353px;
    height: 124px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }

  .Section-04-text-containter h4{
    font-size: 2rem;
    width: 236px;
    height: 38px;

     

  }
  .Section-04-text-containter p{
     width: 353px;
     height: 72px;
  }
  table caption{
      font-size: 1rem;
      margin-top: 34px;
      margin-bottom: 23px;
      
      text-align: left;
  }
     table{
       margin-left: 20px;
     }
 
  .from-Container-title h4{
     font-size: 1rem;
     width: 151px;
     height: 19px;
  }
  .from-Container-title{
     width: 354px;
     height: 70px;
     margin-left: 20px;
  }

.from-Container-title p{
   width: 346px;
   height: 72px;
}

.from-Container{
   width: 354px;
   height: 370px;
}
form{
  margin-left: 20px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
  
}
  .ex{
     align-items: center;
     
     width: 105px;
     height: 16px;
  }
.SR{
   width: 298px;
   margin-top: 7px;
   margin-left: 20px;
}

.BMI-Calculator-Container{
   margin-left: 0px;
}
.btn-t{
   margin-left: 20px;
   margin-top: 20px;
}
.main-Section-04{
    width: 394px;
    height: 720px;
}
.text-Container-5{
   width: 309px;
   height: 124px;
}
.text-Container-5 h4{
   font-size: 1rem;
}
.main-Section-05{
  margin-left: 20px;
  margin-right: 20px;
}

.footer-section-01-title-container-1{

   width: 317px;
   height: 200px;
   text-align: left;
}
.footer-section{
   width: 396px;
   height: 980px;
}
.footer-section-01{
  
   
   
  position: relative;
   width: 353px;
  height: 748px;
  left: 20px;
  top: 44px;

  display: flex;
  flex-direction: column;
justify-content: flex-start;
  align-items: flex-start;
  gap: 102;
padding: 0px;


}

.border{
   width: 354px;
   height: 0px;
}

.footer-section-01-title-container-1{
   text-align: left;
}
}





/* medium device realted styles */

@media  screen and (min-width:576px) and (max-width:992px) {
  
}